h3 {
  margin: 8px;
}

.home {
  display: flex;
  flex-direction: column;
  font-family: ubuntu;
}

.topHome {
  display: flex;
  width: 100vw;
  height: 70vh;
}

.games {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 20px;
}

.gameContent {
  max-width: 25%;
  max-height: 60%;
  background-color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

.bottomHome {
  display: flex;
  align-self: center;
  width: 98vw;
  height: 29.4vh;
  justify-content: flex-end;
  border: 2px solid grey;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.8);
}

.dialog {
  display: flex;
  width: 99%;
  justify-self: flex-start;
  color: white;
}

.mion {
  display: flex;
  position: absolute;
  bottom: 0;
  max-height: 85%;
  max-width: 55%;
}

@media only screen and (max-width: 980px) {
  .mion {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .mion {
    max-height: 65%;
  }
}

@media only screen and (max-width: 800px) {
  .gameContent {
    font-size: 8px;
  }
}

.gameImage {
  max-width: 100%;
  max-height: 100%;
  top: 0;
  border-radius: 8px;
}
