p {
  padding: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ubuntu;
}

.top {
  display: flex;
  height: 46vh;
  width: 100%;
}

.topLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.result {
  width: auto;
  padding: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.topMid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 40vw;
}

.satoko {
  display: flex;
  justify-content: center;
  max-height: 95%;
  max-width: 100%;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topRight {
  display: flex;
  width: 30vw;
  justify-content: flex-end;
}

.cpuHand {
  display: flex;
  width: auto;
}

.bottom {
  display: flex;
  height: 54vh;
  width: 100%;
}

.bottomLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myHand {
  display: flex;
  align-items: center;
  width: 78vw;
  overflow-x: auto;
}

.handImages {
  max-height: 80%;
  max-width: 60%;
}

.subtext {
  margin: 0;
}

.buttonTitle {
  margin: 0 0 4px 0;
}

.bottomRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.takeCard {
  border: none;
  width: auto;
  background-color: transparent;
  margin-top: 10px;
  max-height: 90%;
  max-width: 90%;
}

.cardBackButton {
  max-width: 80%;
}

.stand {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.endGame {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px 0 0;
  width: 24%;
  height: 12%;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}
